* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    color: #464646;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    font-family: 'Georgia', serif;
    font-family: "Domine", serif;

    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: inherit;
    width: inherit;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight {
    margin-bottom: 0.5rem;
}

a:link, a:visited {
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -o-transition: all .15s linear;
    -ms-transition: all .15s linear;
    transition: all .15s linear;
    color: #222222;
}
a:hover, a:active {
    opacity: .6;
}